/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */


/ {
    combos {
        compatible = "zmk,combos";

        //-----------------------------------------        
        // Left Top
        
        cc_esc {
            timeout-ms = <50>;
            key-positions = <LT3 LT2>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        //-----------------------------------------
        // Left Mid

        cc_excl {
            timeout-ms = <50>;
            key-positions = <LM1 LM2>;
            bindings = <&kp EXCL>;
            layers = <0>;
        };
        
        cc_ques {
            timeout-ms = <50>;
            key-positions = <LM2 LM3>;
            bindings = <&kp QMARK>;
            layers = <0>;
        };

        //-----------------------------------------
        // Right Top

        cc_lbrac {
            timeout-ms = <50>;
            key-positions = <RT1 RT2>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        
        cc_rbrac {
            timeout-ms = <50>;
            key-positions = <RT2 RT3>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        //-----------------------------------------
        // Right Mid
        
        cc_lpara {
            timeout-ms = <50>;
            key-positions = <RM1 RM2>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        
        cc_rpara {
            timeout-ms = <50>;
            key-positions = <RM2 RM3>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        //-----------------------------------------
        // Right Bottom

        cc_cut {
            timeout-ms = <50>;
            key-positions = <RB3 RB4>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        
        cc_copy {
            timeout-ms = <50>;
            key-positions = <RB2 RB3>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        cc_paste {
            timeout-ms = <50>;
            key-positions = <RB1 RB2>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        
    };
};
