#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NUM     0
#define DEFAULT 5
#define QWERTY  1
#define SYS     2
#define GAME    3
#define GAMENUM 4

#define DECK    6

#include "keypos.h"       // Used to define keys for combos
#include "combos.dtsi"    // Include after defining layers
#include "tapdance.dtsi"  // Tap dance combos

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
  chosen {
   // zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                num_layer {                   //Layer 5 
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// | F13  | F14 | F15 | F16 | F17 |     |  -  | F7-7 | F8-8 | F9-9 | F12-* |
// | F18  | F19 | F20 | F21 | F22 |     |  +  | F4-4 | F5-5 | F6-6 | F11-/ |
// | NP9  | NP6 | NP8 | NP5 | NP0 |     |  0  | F1-1 | F2-2 | F3-3 | F10-. |
//              | F7  | F9  |Kt-N |     | ENT |      | bksp |
                        bindings = <
   &kp F13    &kp F14    &kp F15    &kp F16     &kp F17         &kp MINUS   &mt F7 N7     &mt F8 N8     &mt F9 N9   &mt F12 STAR 
   &kp F18    &kp F19    &kp F20    &kp F21     &kp F22         &kp PLUS    &mt F4 N4     &mt F5 N5     &mt F6 N6   &mt F11 FSLH 
   &kp KP_N9  &kp KP_N6  &kp KP_N8  &kp F5      &kp KP_N0       &kp N0      &mt F1 N1     &mt F2 N2     &mt F3 N3   &mt F10 DOT 
                         &kp F7     &kp F9      &kt N         
                          &kp RET     &trans        &kp BKSP
                        >; 
                };
                default_layer {
                        label = "COLEMAK";
// ----------------------------------------------------------------------------------------
//   |TAB-Q|  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  | BKSP|
//   |Sft-A|  R  |  S  |  T  |  G  |   |  K  |  N   |  E  |  I  |Sft-O|
//   |Ctl-Z|  X  |  C  |  D  |  V  |   |  M  |  H   | ,;: | .'" |Ctl-/|
//               | Alt | Sys | SPC |   | ENT |L-Num | DEL |
                        bindings = < 
   &mt TAB Q      &kp W    &kp F    &kp P  &kp B        &kp J    &kp L   &kp U       &kp Y     &kp BKSP   
   &mt LSHFT A    &kp R    &kp S    &kp T  &kp G        &kp K    &kp N   &kp E       &kp I     &mt RSHFT O
   &mt LCTRL Z    &kp X    &kp C    &kp D  &kp V        &kp M    &kp H   &td0        &td1      &mt RCTRL FSLH
                           &kp LALT &to 2  &kp SPACE    &kp RET  &mo 5   &kp DEL
                        >;
                };

                qwerty_layer {                   //Layer 1
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
//   |Tab-Q|  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |DEL-P|
//   |Sft-A|  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  | Sft |
//   |Ctl-Z|  X  |  C  |  V  |  B  |   |  N  |  M   | ,;: | .'" |Ctl-/|
//               | ALT |L-Def| SPC |   | ENT |L-Num | BKSP |
                        bindings = < 
   &mt TAB Q      &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U   &kp I       &kp O     &mt DEL P
   &mt LSHFT A    &kp S    &kp D    &kp F    &kp G        &kp H    &kp J   &kp K       &kp L     &kp RSHFT
   &mt LCTRL Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M   &td0        &td1      &mt RCTRL FSLH
                           &kp LALT &to 0    &kp SPACE    &kp RET  &mo 5   &kp BKSP
                        >;
                };

                sys_layer {                   //Layer 2
                        label = "SYSTEM";
// -----------------------------------------------------------------------------------------
// | Stop |Pause |Vid <<|Vid >>|     |   |     |     |     |     |     |
// |      | Mute | Vol- | Vol+ |     |   |     |     |     |     |     |
// | GUI  |      |      |      |     |   |     |     |     |     |     |
//               |L-Def|L-Game | SPC |   |     |     |     |
                        bindings = <
   &kp K_STOP2  &kp K_PP     &kp K_PREV     &kp K_NEXT     &trans      &trans       &trans       &trans       &trans       &trans
   &none        &kp K_MUTE   &kp C_VOL_DN   &kp C_VOL_UP   &trans      &trans       &trans       &trans       &trans       &trans
   &kp LGUI     &none        &none          &none          &none       &trans       &trans       &trans       &trans       &trans
                             &to 0          &to 3          &kp SPACE   &trans       &trans       &trans
                        >;
                };

                game_layer {                   //Layer 3
                        label = "GAMING";
// -----------------------------------------------------------------------------------------
// |  Tab |  Q  |  W  |  E  |   TR   |   |  Y  |  U  |  I  |  O  |DEL-P |
// |L-Shft|  A  |  S  |  D  |   GF   |   |  H  |  J  |  K  |  L  | SHFT |
// |L-Ctrl|  Z  |  X  |  C  |   BV   |   |  N  |  M  |  ,  |  .  |  /   |
//              |L-Def|L-GNum| SPC |    | ENT | NUM | BSKP|
                        bindings = <
   &kp TAB       &kp Q   &kp W   &kp E   &mt T R       &kp Y    &kp U   &kp I       &kp O     &mt DEL P
   &kp LSHFT     &kp A   &kp S   &kp D   &mt G F       &kp H    &kp J   &kp K       &kp L     &kp RSHFT
   &kp LCTRL     &kp Z   &kp X   &kp C   &mt B V       &kp N    &kp M   &td0        &td1      &mt RCTRL FSLH
                         &to 0   &to 4   &kp SPACE     &kp RET  &mo 5   &kp BKSP
                        >;
                };

		gamenum_layer {                   //Layer 4
                        label = "GNUMBER";
// -----------------------------------------------------------------------------------------
// |   1   |  2  |  3  |  4  |  5   |   |     |     |     |     |     |
// |   6   |  7  |  8  |  9  |  0   |   |     |     |     |     |     |
// | LShft |  Z  |  X  |  C  |  V   |   |     |     |     |     |     |
//               |     |     |      |   |     |     |     |
                        bindings = <
   &kp N1      &kp N2   &kp N3   &kp N4   &kp N5      &trans       &trans       &trans       &trans       &trans
   &kp N6      &kp N7   &kp N8   &kp N9   &kp N0      &trans       &trans       &trans       &trans       &trans
   &kp LSHFT   &kp Z    &kp X    &kp C    &kp V       &trans       &trans       &trans       &trans       &trans
                        &to 5    &to 3    &kp SPACE   &trans       &trans       &trans
                        >; 
                };



                        
                deck_layer {                   //Layer 6 
                        label = "DECK";
// -----------------------------------------------------------------------------------------
// | KP1  | KP2 | KP3 | KP4 | KP5 |   |  -  | F7-7 | F8-8 | F9-9 | F12-* |
// | KP6  | KP7 | KP8 | KP9 | KP0 |   |  +  | F4-4 | F5-5 | F6-6 | F11-/ |
// | F13  | F14 | F15 | F16 | F17 |   |  0  | F1-1 | F2-2 | F3-3 | F10-. |
//              |L-Def|L-QWE| SPC |   | ENT |      | bksp |
                        bindings = <
   &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_N4    &kp KP_N5         &kp MINUS   &mt F7 N7     &mt F8 N8     &mt F9 N9   &mt F12 STAR 
   &kp KP_N6    &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_N0         &kp PLUS    &mt F4 N4     &mt F5 N5     &mt F6 N6   &mt F11 FSLH 
   &kp F13      &kp F14      &kp F15      &kp F16      &kp F17         &kp N0      &mt F1 N1     &mt F2 N2     &mt F3 N3   &mt F10 DOT 
                             &trans       &trans       &to 0           &kp RET     &trans        &kp BKSP
                        >; 
                };
        };
};