#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM     1
#define SYS     2
#define GAME    3
#define GAMENUM 4

#include "keypos.h"       // Used to define keys for combos
#include "combos.dtsi"    // Include after defining layers
#include "tapdance.dtsi"  // Tap dance combos

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
};

/ {
  chosen {
   // zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMAK";
// -----------------------------------------------------------------------------------------
//   |Tab-Q|  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  | BKSP|
//   |Sft-A|  R  |  S  |  T  |  G  |   |  K  |  N   |  E  |  I  |Sft-O|
//   |Ctl-Z|  X  |  C  |  D  |  V  |   |  M  |  H   | ,;: | .'" |  /  |
//               |     | Sys | SPC |   | ENT |L-Num | ALT |
                        bindings = < 
   &mt TAB Q      &kp W    &kp F    &kp P  &kp B        &kp J    &kp L   &kp U       &kp Y     &kp BKSP   
   &mt LSHFT A    &kp R    &kp S    &kp T  &kp G        &kp K    &kp N   &kp E       &kp I     &mt RSHFT O
   &mt LCTRL Z    &kp X    &kp C    &kp D  &kp V        &kp M    &kp H   &td0        &td1      &kp FSLH
                           &trans   &to 2  &kp SPACE    &kp RET  &mo 1   &kp RALT
                        >;
                };

                num_layer {                   //Layer 1
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |      |     |  up |     |     |   |  -  | F7-7 | F8-8 | F9-9 | F12-* |
// | Shft | lft | dwn | rht |     |   |  +  | F4-4 | F5-5 | F6-6 | F11-/ |
// |      |     |     |     |     |   |  0  | F1-1 | F2-2 | F3-3 | F10-. |
//              |L-Def|L-Def| SPC |   | ENT | BKSP | Shft |
                        bindings = <
   &trans       &trans       &kp UP       &trans       &trans         &kp MINUS   &mt F7 N7     &mt F8 N8     &mt F9 N9   &mt F12 STAR 
   &kp LSHFT    &kp LEFT     &kp DOWN     &kp RIGHT    &trans         &kp PLUS    &mt F4 N4     &mt F5 N5     &mt F6 N6   &mt F11 FSLH 
   &trans       &trans       &trans       &trans       &trans         &kp N0      &mt F1 N1     &mt F2 N2     &mt F3 N3   &mt F10 DOT 
                             &to 0        &to 0        &kp SPACE      &kp RET     &kp BSPC      &kp RSHFT
                        >;
                };

                sys_layer {                   //Layer 2
                        label = "SYSTEM";
// -----------------------------------------------------------------------------------------
// |   1   |  2  |  3  |  4  |  5  |   |     |     |     |     |     |
// |   6   |  7  |  8  |  9  |  0  |   |     |     |     |     |     |
// |L-Ctrl |  Z  |  X  |  C  |  V  |   |     |     |     |     |     |
//               |L-Def|L-Game| SPC |  |     |     |     |
                        bindings = <
   &kp N1      &kp N2   &kp N3   &kp N4   &kp N5      &trans       &trans       &trans       &trans       &trans
   &kp N6      &kp N7   &kp N8   &kp N9   &kp N0      &trans       &trans       &trans       &trans       &trans
   &kp LCTRL   &kp Z    &kp X    &kp C    &kp V       &trans       &trans       &trans       &trans       &trans
                        &to 0    &to 3    &kp SPACE   &trans       &trans       &trans
                        >;
                };

                game_layer {                   //Layer 3
                        label = "GAMING";
// -----------------------------------------------------------------------------------------
// |Tab ESC| Q  |  W  |  E  |   R   |   |     |     |     |     |     |
// |L-Shft|  A  |  S  |  D  |   F   |   |     |     |     |     |     |
// |L-Ctrl|  Z  |  X  |  C  |   V   |   |     |     |     |     |     |
//              |L-Def|L-GNum| SPC |    | ENT |     |     |
                        bindings = <
   &mt TAB ESC   &kp Q   &kp W   &kp E   &kp R       &trans       &trans       &trans       &trans       &trans
   &kp LSHFT     &kp A   &kp S   &kp D   &kp F       &trans       &trans       &trans       &trans       &trans
   &kp LCTRL     &kp Z   &kp X   &kp C   &kp V       &trans       &trans       &trans       &trans       &trans
                         &to 0   &mo 3   &kp SPACE   &kp RET      &trans       &trans
                        >; 
                };

		gamenum_layer {                   //Layer 4
                        label = "GAMING";
// -----------------------------------------------------------------------------------------
// |   1   |  2  |  3  |  4  |   5   |   |     |     |     |     |     |
// |   6   |  7  |  8  |  9  |   0   |   |     |     |     |     |     |
// |L-Ctrl |  Z  |  X  |  C  |   V   |   |     |     |     |     |     |
//                |L-Def|L-GNum| SPC |   |     |     |     |
                        bindings = <
   &kp N1      &kp N2   &kp N3   &kp N4   &kp N5      &trans       &trans       &trans       &trans       &trans
   &kp N6      &kp N7   &kp N8   &kp N9   &kp N0      &trans       &trans       &trans       &trans       &trans
   &kp LCTRL   &kp Z    &kp X    &kp C    &kp V       &trans       &trans       &trans       &trans       &trans
                        &trans   &trans   &kp SPACE   &trans       &trans       &trans
                        >; 
                };
        };
};